<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ metaTitle }}</title>
  {% if metaDesc %}<meta name="description" content="{{ metaDesc }}">{% endif -%}
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,500|IBM+Plex+Serif">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>

  <div class="layout__outer">
    <header class="layout__inner header">
      {%- block header %}
        {% include '../../components/header/header.njk' %}
      {% endblock -%}
    </header>

    <main class="layout__inner">
      {%- block main %}{% endblock -%}
    </main>

    <footer class="layout__inner footer">
      {%- block footer %}
        {% include '../../components/footer/footer.njk' %}
      {% endblock -%}
    </footer>
  </div>

</body>
</html>
