{% extends '../layout/default.njk' %}
{% set metaTitle = 'Bran van der Meer' %}

{% block main %}
  <h1>Hi there!</h1>
  <p itemscope itemtype="http://data-vocabulary.org/Person">
    I’m the website of <span itemprop="name">Bran van der Meer</span>, software craftsman and builder
    of the web, living in <span itemprop="locality">Rotterdam, Netherlands</span>. I tend to make
    use of the nickname <span itemprop="nickname">branneman</span> around the web, if you come across it, that might be me.
  </p>
  <p>I also have a YouTube channel, where I create content for software engineers,
    sometimes focused on frontend developers. I'll also talk about behavioural skills, soft skills, career development
    and a lot of other topics which are not language/framework/typing-code topics:
    <a href="https://www.youtube.com/@branvandermeer">youtube.com/@branvandermeer</a></p>
  <p>Disclaimer: The opinions expressed on this website are my own, and not necessarily those of my employer.</p>

  {% include '../../components/publications/publications.njk' %}
  {% include '../../components/aside/aside.njk' %}
{% endblock %}
