{% extends '../layout/default.njk' %}
{% set metaTitle = 'Bran van der Meer' %}

{% block main %}
  <h1>Hi there!</h1>
  <p itemscope itemtype="http://data-vocabulary.org/Person">
    I’m the website of <span itemprop="name">Bran van der Meer</span>, software craftsman and builder
    of the web, living in <span itemprop="locality">Rotterdam, Netherlands</span>. I tend to make
    use of the nicknames <span itemprop="nickname">branneman</span> and <span itemprop="nickname">branmovic</span>
    all around the web, if you come across them, that’s probably me.
  </p>

  {% include '../../components/publications/publications.njk' %}
  {% include '../../components/aside/aside.njk' %}
{% endblock %}
