{% extends './layout/default.njk' %}
{% set metaTitle = data.fields.title %}
{% set metaDescription = data.fields.description %}
{% set bodyClass = 'page-article' %}

{% block main %}
  <h1>{{ data.fields.title }}</h1>
  <p class="small"><small>
    Published <time itemprop="dateCreated" datetime="{{ data.fields.published }}">{{ data.fields.published | date('YYYY-MM-DD') }}</time>
  </small></p>
  <p>{{ data.fields.text | safe }}</p>
{% endblock %}
