{% extends './layout/default.njk' %}
{% set metaTitle = data.fields.title %}
{% set metaDescription = data.fields.description %}
{% set bodyClass = 'page-article' %}

{% block main %}
  <h1>{{ data.fields.title }}</h1>
  <p class="small"><small>
    Published <time itemprop="dateCreated" datetime="{{ data.fields.published }}">{{ data.fields.published | date('YYYY-MM-DD') }}</time>
  </small></p>
  {% if data.fields.outdated %}
  <p>⚠️ Wait up! The article you're viewing was published a long time ago (in internet years),
    it may be irrelevant or completely incorrect by now. Thread carefully!</p>
  {% endif -%}
  {{ data.fields.text | safe }}
{% endblock %}
