{% extends './layout/default.njk' %}
{% set metaTitle = data.fields.title %}
{% set metaDescription = data.fields.description %}

{% block main %}
  <h1>{{ data.fields.title }}</h1>
  <p><small>
    Published <time itemprop="dateCreated" datetime="{{ data.fields.published }}">{{ data.fields.published }}</time>
    by {{ data.fields.author }}
  </small></p>
  {{ data.fields.text | safe }}
{% endblock %}
