.es2015-babel6-features {
  width: 100%;
  line-height: 1.4;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #666;

  & th,
  & td {
    padding: 3px;
  }

  & th {
    text-align: left;
  }

  & td {
    border-top: 1px solid #eee;
  }

  & a {
    color: #3c78d8;
    text-decoration: none;
  }

  & a:hover,
  & a:focus {
    text-decoration: underline;
  }

  & .section td {
    border-top: 1px solid #666;
  }

  & .feature {
    width: 110px;
    text-align: center;
  }

  & .feature,
  & .yes,
  & .maybe,
  & .no,
  & .not {
    text-align: center;
  }

  & .yes {
    background: #d9ead3;
    color: #6aa84f;
  }

  & .maybe {
    background: #fff2cc;
    color: #f1c232;
  }

  & .no {
    background: #eee;
    color: #bbb;
  }

  & .not {
    background: #f4cccc;
    color: #e06666;
  }
}

.authors {
  color: #aac;
}

#five-dysfunctions,
#five-dysfunctions--results-block {
  display: none;
}
#five-dysfunctions {
  border: 2px dotted #446;
  padding: 0.5em;
}
#five-dysfunctions--question-block :first-child {
  margin-top: 0;
}
.five-dysfunctions--answer-block button {
  display: block;
  margin: 0 0 1em 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
.five-dysfunctions--results h2 {
  margin-top: 0;
}
.five-dysfunctions--results div p {
  display: inline-block;
  margin: 0;
}
#five-dysfunctions--results__trust,
#five-dysfunctions--results__conflict,
#five-dysfunctions--results__commitment,
#five-dysfunctions--results__accountability,
#five-dysfunctions--results__results {
  font-weight: bold;
}
.five-dysfunctions--results-interpretation p:not(:first-child) {
  margin: 0;
}
