{% set links = [
  { url: 'https://www.youtube.com/@branvandermeer', label: 'YouTube' },
  { url: 'https://github.com/branneman', label: 'Github' },
  { url: 'https://gist.github.com/branneman', label: 'Gist' },
  { url: 'http://www.reddit.com/user/branneman/', label: 'Reddit' },
  { url: 'http://www.linkedin.com/in/branvandermeer', label: 'LinkedIn' }
] %}

<aside class="aside">
  <h3 class="aside__header">Me elsewhere</h3>
  <ol class="aside__list">
    {% for link in links %}
      <li class="aside__listitem">
        <a target="_blank" rel="me" href="{{ link.url }}" title="Bran van der Meer">
          {{ link.label }}
        </a>
      </li>
    {% endfor %}
  </ol>
</aside>
