<h1>Homepage</h1>
<p>Welcome!</p>

<h2>Articles:</h2>
<ol>
    {% for article in data.article %}
        <li><a href="/article/{{ article.fields.url }}.html">{{ article.fields.title }}</a></li>
    {% endfor %}
</ol>

<h2>Dump:</h2>
<ol>
    {% for dump in data.dump %}
        <li><a href="/dump/{{ dump.fields.url }}.html">{{ dump.fields.title }}</a></li>
    {% endfor %}
</ol>
