.header {
  padding-bottom: 0.5em;
  border-bottom: 5px dotted #333;
}
.header__site-title {
  font-family: var(--fontStackHeader);
  font-weight: 500;
  font-size: 2em;
  text-decoration: none;
  color: var(--colorOffBlack);
}
