<a class="header__site-title" href="/" rel="me">Bran van der Meer</a>
<nav class="header__nav">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/resume">Résumé</a></li>
    <li><a href="/contact">Contact</a></li>
  </ol>
</nav>
